<div class="container-fluid band-footer">
		<div class="container">
			<p>Terms & Conditions | Privacy Policy | Copyright © <a id="footer" href="mailto:example@gmail.com?Subject=Bootstrap%20Demo%20Page">RAO DEVELOPMENTS LTD 2018</a></p>
		</div>
		
	</div>






</body>
</html>