<% include partials/header %>

    <div class="container-fluid contactPage">
    	<div class="container">
    		<div class="row">
    		    <h1>contact details</h1>
    			<div class="col-lg-4 padtop thumbnail">
                    
                    <div class="container">
                        <div id="left-float">
                            <div class="items">
                                <li><i class="glyphicon glyphicon-map-marker"></i>New Zealand</li>
                                <li>Auckland</li>
                                <li>02 Random Street</li>
                                <br>
                            </div>
                            
                            <div class="items">
                                <li href="tel:093867666"><i class="glyphicon glyphicon-earphone"></i>09 9966996699</li>
                                <br>
                            </div>
                            
                            <div class="items" >
                                <a class="email" href="mailto:example@gmail.com?Subject=bootstrap%20Demo%20Website" target="_top"><i class="glyphicon glyphicon-envelope email"></i>example@gmail.com</a>
                                <br>
                            </div>
                            
                            <div class="items">
                    		    <li><a href="https://www.facebook.com/" target="new" data-toggle="tooltip" data-placement="top" title="Facebook" data-rel="tooltip" ><i class="fa fa-facebook-square" id="facebook" style="font-size:48px;"></i></a></li>
                    		    <br>
            				</div>
        				
        				</div>
                    </div>
                    
    			
    			</div>
    			
    			<div class="col-lg-8 padtop">
    			    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51102.4391737556!2d174.74032242798043!3d-36.82085746559279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d47f06d4bdc25%3A0x2d1b5c380ad9387!2sSky+Tower!5e0!3m2!1sen!2snz!4v1520559853782" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    			    
    			</div>
    		</div>
    	</div>
    </div>
    
    

<% include partials/footer %>