<% include partials/header %>

    <div class="container-fluid band-hero img-responsive">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-12 ">
    				<h1>let's make this awesome</h1>
    				<p id="first_Paragraph" >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="container-fluid band-whoweare">
    
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-4 col-sm-12">
    					<img class="center-block img-responsive" src="https://images.unsplash.com/photo-1493119508027-2b584f234d6c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fb1e9a6cb78d210f74cba5298eca8ee7&auto=format&fit=crop&w=800&q=80" alt="old books in a library" title="library books">
    			</div>
    			<div class="col-lg-offset-1 col-lg-7 col-sm-12">
    				<h2>who we are</h2>
    				<p class="textOption1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
    			</div>
    		</div>
    	</div>
    	
    	
    </div>
    <div class="container-fluid band-services">
    	<div class="container">
    	    <h3>Check out the Photography Section</h3>
    		<div class="row">
    
    			<div class="col-lg-3 col-sm-6">
    				<div class="row">
    					<div class="col-lg-12 ">
    						<img class="center-block img-responsive" alt="print design icon" title="print design icon" src="images/icon-1-print.png">
    					</div>
    				</div>
    				<div class="row">
    					<div class="col-lg-12 padtp-a">
    						<a class="anchor-services" href="#">print</a>
    					</div>
    				</div>
    			</div>
    
    			<div class="col-lg-3 col-sm-6">
    				<div class="row">
    					<div class="col-lg-12">
    						<img alt="smart phone" title="smart phone icon" class="center-block img-responsive" src="images/icon-2-app.png">
    					</div>
    				</div>
    				<div class="row">
    					<div class="col-lg-12 padtp-a">
    						<a class="anchor-services" href="#" >app dev</a>
    					</div>
    				</div>
    			</div>
    
    			<div class="col-lg-3 col-sm-6">
    				<div class="row">
    					<div class="col-lg-12 ">
    						<img class="center-block img-responsive" alt="camera" title="camera icon" src="images/icon-3-photo.png">
    					</div>
    				</div>
    				<div class="row">
    					<div class="col-lg-12 padtp-a">
    						<a class="anchor-services" href="/photography">photography</a>
    					</div>
    				</div>
    			</div>
    
    			<div class="col-lg-3 col-sm-6">
    				<div class="row">
    					<div class="col-lg-12">
    						<img class="center-block img-responsive" alt="video" title="video icon" src="images/icon-4-video.png">
    					</div>
    				</div>
    				<div class="row">
    					<div class="col-lg-12 padtp-a">
    						<a class="anchor-services" href="#" >video</a>
    					</div>
    				</div>
    			</div>
    
    		</div>
    	</div>
    	
    </div>
    <div class="container-fluid band-portfolio">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-3 col-sm-6 padtp-a">
    				<img class="center-block img-responsive" src="images/portfolio-1.jpg">
    				<div class="portfolio-text"><a class="port_text" href="#">CLIENT: Acme inc</a></div>
    			</div>
    			<div class="col-lg-3 col-sm-6 padtp-a">
    				<img class="center-block img-responsive" src="images/portfolio-2.jpg">
    				<div class="portfolio-text"><a class="port_text" href="#">CLIENT: Cassette</a></div>
    			</div>
    			<div class="col-lg-3 col-sm-6 padtp-a">
    				<img class="center-block img-responsive" src="images/portfolio-3.jpg">
    				<div class="portfolio-text"><a class="port_text" href="#">CLIENT: Auto Salon</a></div>
    			</div>
    			<div class="col-lg-3 col-sm-6 padtp-a">
    				<img class="center-block img-responsive" src="images/portfolio-4.jpg">
    				<div class="portfolio-text"><a class="port_text" href="#">CLIENT: Models inc</a></div>
    			</div>
    		</div>
    
    	</div>
    
    </div>







<% include partials/footer %>